name: release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'
      - '!v*.*.*-rc'
      - '!v*.*.*-dev'
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      -
        name: Get tag
        id: get-tag
        run: |-
          echo "TAG=${GITHUB_REF:10}" >> $GITHUB_ENV
          echo "REPO=${GITHUB_REPOSITORY}" >> $GITHUB_ENV
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}
      -
        name: Extract metadata (tags, labels) from Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      -
        name: Build and push Docker image
        uses: docker/build-push-action@v6
        id: push
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      -
        name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

  release:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/mandays/automator:latest
      options: --user root
    permissions:
      contents: read
      id-token: write
    steps:
      -
        name: Before checkout
        shell: bash
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      -
        name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      -
        name: Generate CHANGELOG.md
        run: |
          LATEST_TAG=$(git describe --tags --abbrev=0)

          git-chglog \
          --config /automator/.chglog/config.yml \
          --template /automator/.chglog/CHANGELOG.tpl.md \
          --repository-url "https://github.com/${{ github.repository }}" \
          --output CHANGELOG.md ${LATEST_TAG}
      -
        uses: qoomon/actions--access-token@v3
        id: access-token
        with:
          permissions: |
            contents: write
      -
        name: Generate Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG }}
          body_path: CHANGELOG.md
          token: ${{ steps.access-token.outputs.token }}
